.border { border-bottom: 5px solid #FCBA04; }

.content {
    display: flex;
}

.logo { 
    height: 100px;
    max-width: 100px;
}

.info {
    padding-left: 6px;
    justify-content: space-between;
}

.logo img {
    width: 100%;
}

.action-bar {
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: space-between;
}

button {
    height: 30px;
    background-color: #FCBA04;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: start;
    cursor: pointer;
}