<div class="nav">
    <a [routerLink]="['/apps']" routerLinkActive="router-link-active">Home</a> • 
    <a (click)="onBack()" routerLinkActive="router-link-active">Back</a> - 
    <ng-container [ngSwitch]="isLoggedIn">
        <ng-container *ngSwitchCase="true">
            <a (click)="onLogout()">Logout</a> • 
            <strong>Welcome, {{name}}</strong>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> • 
            <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>        
        </ng-container>
    </ng-container>
</div>
