
.border { border-bottom: 5px solid #dc2f02; }

.content {
    display: flex;
}

.trailer { 
    height: 100px;
    max-width: 135px;
}

.info {
    padding-left: 6px;
    justify-content: space-between;
}

.trailer img {
    width: 100%;
}

