input {
    padding-right: 30px;
    margin-right: 5px;
    height: 30px;
}

button {
    height: 30px;
    background-color: #FCBA04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-text {
    padding: 3px 0;
}

input[type="text"]:focus {
    outline: 2px solid #FCBA04;
}